main > .container {
  padding: 60px 15px 0;
}

.question {
    border: 1px solid grey;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
}

.question-image {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 10px;
}

.question-title {
    font-size: 30px;
    font-family: Helvetica;
    font-weight: bold;
}

.tags {
    max-width: 150px;
    font-size: 18px;
}

.navbar-brand {
    font-size: 30px;
    font-family: Helvetica;
    font-weight: bold;
    margin-left: 20px;
}

.form-control.me-2 {
    width: 500px;
    margin-left: 100px;
}

.row.user .avatar {
    max-width: 50px;
    max-height: 50px;
}

.row.user {
    color: white;
    margin-right: 50px;
    max-width: 500px;
    white-space: nowrap;
}

.row.user .setting{
    margin-right: 10px;
}

.row.nouser {
    color: white;
    margin-right: 50px;
    max-width: 500px;
    margin-right: 20px;
}

.row.nouser .log-in{
    margin-right: 20px;
}

.pagination {
    margin: 30px 0px 30px 0px;
}

.question-actions {
    margin: 15px 0px 15px 0px;
}

.tags-label {
    margin-left: 10px;
}

.question-actions a{
    margin-left: 5px;
}

.like-button {
    max-width: 20px;
    max-height: 20px;
    margin-top: 30px;
}

.answer {
    border: 1px solid grey;
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
    padding: 20px;
}

.answer-div {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 0;
    border-right: 0;
}

.error {
    color: red;
}

.form-group.row {
    margin: 20px 0px 20px 0px;
}

.form-group.row input {
    width: 300px;
}

.form-group.row img {
    max-width: 200px;
    max-height: 200px;
}

.row .col-7 {
    padding-top: 15px;
}

.row .col-4 {
    padding: 50px 0px 0px 50px;
}

.best-members {
    margin-top: 30px;
}

.list-group {
    margin-left: 15px;
    max-width: 250px;
}

.form-ask {
    margin-top: 30px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.autocomplete-results {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 30%;
    background-color: white;
    margin-left: 10%;
    margin-top: 3%;
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: #f0f0f0;
}