main > .container {
  padding: 60px 15px 0;
}

.question {
    border: 1px solid grey;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
}

.question-image {
    max-width: 150px;
    max-height: 150px;
}

.question-title {
    font-size: 30px;
    font-family: Helvetica;
    font-weight: bold;
}

.tags {
    max-width: 150px;
    font-size: 18px;
}

.navbar-brand {
    font-size: 30px;
    font-family: Helvetica;
    font-weight: bold;
    margin-left: 20px;
}

.form-control.me-2 {
    width: 500px;
    margin-left: 100px;
}

.row.user .avatar {
    max-width: 50px;
    max-height: 50px;
}

.row.user {
    color: white;
    margin-right: 50px;
    max-width: 500px;
}

.row.noauthuser {
    display: none;
    color: white;
    margin-right: 50px;
    max-width: 500px;
}

.pagination {
    margin: 30px 0px 30px 0px;
}

.question-actions {
    margin: 15px 0px 15px 0px;
}

.tags-label {
    margin-left: 10px;
}

.question-actions a{
    margin-left: 5px;
}

.like-button {
    max-width: 20px;
    max-height: 20px;
    margin-top: 30px;
}