{% extends 'layouts/base.html' %}

{% load django_bootstrap5 %}

{% block content %}

{% include 'components/question-item.html' %}

<br>

<div class="answer-div" id="answer-{{ answer.id }}">
    {% for answer in questions %}

    {% include 'components/answer-item.html' with answer_id=answer.id %}

    {% endfor %}

    {% if questions.has_other_pages %}
    {% include 'components/paginate-item.html' %}
    {% endif %}

</div>

<form method="post" class="form-ask">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-secondary mt-3 mb-3">Answer</button>
</form>

{% endblock %}