{% extends 'layouts/base.html' %}

{% block content %}

{% include 'components/question-item.html' %}

<br>

 <div class="answer-div" style="border-top: 1px solid grey; border-bottom: 1px solid grey; border-left: 0; border-right: 0;">
    {% for answer in answers %}

    {% include 'components/answer-item.html' %}

    {% endfor %}

     <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="">1</a></li>
            <li class="page-item"><a class="page-link" href="">2</a></li>
            <li class="page-item"><a class="page-link" href="">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
    </nav>

 </div>

 <form>
   <div class="form-group" style="margin: 20px 0px 20px 0px;">
     <textarea class="form-control" id="exampleTextarea" rows="7" placeholder="Enter your answer here..."></textarea>
   </div>
   <button type="submit" class="btn btn-secondary">Answer</button>
 </form>

{% endblock %}