{% extends 'layouts/base.html' %}

{% load django_bootstrap5 %}

{% block content %}

{% include 'components/question-item.html' %}

<br>

<div class="answer-div">
    {% for answer in questions %}

    {% include 'components/answer-item.html' %}

    {% endfor %}

    {% include 'components/paginate-item.html' %}

</div>

<form method="post" class="form-ask">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-secondary mt-3 mb-3">Answer</button>
</form>

{% endblock %}