{% extends 'layouts/base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<h1>Settings: {{ request.user.username }}</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% if request.user.profile.avatar %}
    <div>
        <img src="{{ request.user.profile.avatar.url }}" alt="Profile avatar" class="question-image"/>
    </div>
    {% else %}
    <div>
        <img src="{% static '/img/css_ava.png' %}" alt="Default Avatar" class="question-image"/>
    </div>
    {% endif %}

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">SAVE</button>
        </div>
    </div>
</form>

{% endblock %}