{% extends 'layouts/base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<div class="row">
    <div class="col-5">
        <h1>Sign up</h1>
    </div>
    <div class="col-7">
        <a href="{% url 'login' %}">Log in</a>
    </div>
</div>

<form action="/signup" method="post" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">REGISTER!</button>
        </div>
    </div>
</form>

{% endblock %}