{% load static %}

<div class="row answer">
    <div class="col-3">
        {% if answer.profile.avatar %}
        <img src="{{ answer.author.profile.avatar.url }}" alt="Avatar" class="question-image"/>
        {% else %}
        <img src="{% static '/img/css_ava.png' %}" alt="Default Avatar" class="question-image"/>
        {% endif %}
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button" id="subtractBtn">-</button>
            </div>
            <input type="text" class="form-control text-center" id="counterValue" value={{ answer.rating }}>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="addBtn">+</button>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="question-text">{{ answer.text }}</div>
        <div class="question-actions">
            <div class="form-check">
                {% if answer.correct %}
                <input type="checkbox" class="form-check-input" id="correct{{ answer.id }}" checked>
                {% endif %}
                {% if not answer.correct %}
                <input type="checkbox" class="form-check-input" id="correct{{ answer.id }}" !checked>
                {% endif %}
                <label class="form-check-label" for="correct{{ answer.id }}">Correct!</label>
            </div>
        </div>
    </div>
</div>