{% load static %}

<div class="row answer" id="answer-{{ answer_id }}">
    <div class="col-3">
        {% if answer.author.avatar %}
        <img src="{{ answer.author.avatar.url }}" alt="Avatar" class="question-image"/>
        {% else %}
        <img src="{% static '/img/css_ava.png' %}" alt="Default Avatar" class="question-image"/>
        {% endif %}
        <div class="like-section-answer input-group">
            <div class="input-group-prepend" data-id="{{ answer.id }}">
                <button class="btn btn-outline-secondary" type="button" id="subtractBtn">-</button>
            </div>
            <input type="text" class="form-control text-center" id="counterValue" value={{ answer.rating }}>
            <div class="input-group-append" data-id="{{ answer.id }}">
                <button class="btn btn-outline-secondary" type="button" id="addBtn">+</button>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="question-text">{{ answer.text }}</div>
        <div class="question-actions">
            <div class="correct-section-answer form-check">
                <input type="checkbox" data-id="{{ answer.id }}" class="form-check-input" id="correct{{ answer.id }}"
                       {% if answer.correct %}checked{% endif %}>
                <label class="form-check-label" for="correct{{ answer.id }}">
                    {% if answer.correct %}
                    Correct!
                    {% else %}
                    No correct!
                    {% endif %}
                </label>
            </div>
        </div>
    </div>
</div>