{% load static %}

<div class="row question">
    <div class="col-3">
      {% if question.profile.avatar %}
        <img src="{{ question.profile.avatar }}" alt="Avatar" class="question-image"/>
      {% else %}
        <img src="{% static '/img/css_ava.png' %}" alt="Default Avatar" class="question-image"/>
      {% endif %}
      <div class="like-container d-flex flex-column align-items-center">
        <img src="{% static '/img/like.png' %}" alt="Like" class="like-button"/>
        <p class="like-count">{{ question.like.count }}</p>
      </div>
    </div>
    <div class="col-9">
      <div class="question-title"><a href="{% url 'question' question.id %}">{{ question.title }}</a></div>
      <div class="question-text">{{ question.text }}</div>
      <div class="question-actions">
        <a href="#">answers ({{ question.answers.count }})</a>
        <span class="tags-label">Tags:</span>
        {% for tag in question.tags.all %}
            <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
        {% endfor %}
      </div>
    </div>
</div>